<body>
  <div class="row noMargin">
    <div class="col-6">
      <div id="circularcontainer" #circularcontainer style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-6">
      <button (click)="oncompanyselection('A')">A</button> <button (click)="oncompanyselection('B')">B</button>
      <div id="boxcontainer" #boxcontainer style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-6">
      <div id="polarcontainer" #polarcontainer style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-6">
      <div id="linecontainer" #linecontainer style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-6">
        <div id="singlelinecontainer" #singlelinecontainer style="width: 500px; height: 400px;"></div>
      </div>
    <div class="col-6" style="display: none;">
      <div id="container" #container style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-6">
        <div id="columncontainer" #columncontainer style="width: 500px; height: 400px;"></div>
      </div>
  </div>
</body>