<div class="row" style="width:100%">
    <div class="col-md-4">
        <div *ngFor="let annotatn of annotation.items" >
            <!-- <div *ngFor="let balancesht of annotatn.BalanceSheet"> -->
                <div class="row" style="cursor: pointer;width: 100%;margin: 0px;padding: 10px;">
                    <span  (click)="onOptionSelect(annotatn)">
                        {{annotatn.key}}
                    </span>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-8" *ngIf="selectedLineItem"  id="imageContainer">
        <div >
            <!-- <img id="docImage" [ngStyle]="getImageDimension()" src="{{selectedPage.rawurl}}"> -->
            <img id="docImage" [ngStyle]="getImageDimension()" src="./../../assets/page3.jpg">

            <input type="checkbox" [(ngModel)]="unallocated"> Show unallocated
            <div *ngIf="selectedLineItem">
                <div *ngFor="let dynamicdiv of selectedLineItem.values" >
                    <div  class="selectedDiv" [ngStyle]="getPosition(dynamicdiv)" (click)="selectDiv(dynamicdiv)" *ngIf="!dynamicdiv.deleted">
                        <div  class="cross" *ngIf="dynamicdiv.show" (click)="deleteDiv(dynamicdiv)">x</div>
                    </div>
                    <!-- <div CdkDropList  class="selectedDiv" [ngStyle]="getPosition(dynamicdiv)" (cdkDragReleased)="drop($event)" draggable=true cdkDrag
                    cdkDragBoundary=".imageContainer" (cdkDragEnded)="getDragPosition($event)"> 
                        <div  class="cross" *ngIf="dynamicdiv.show" (click)="deleteDiv(dynamicdiv)">x</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>