.selectedDiv{
    // background: red;
    opacity: 0.4;
    width: 10px;
    height: 20px;
    position: absolute;
}
.cross{
    position: absolute;
    font-size: 15px;
    background: gainsboro;
    color: black;
    font-weight: bolder;
    right: 0;
    top: -18px;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    right: -11px;
    line-height: 1.5;
    cursor: pointer;
}
canvas { border-style: solid }
.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
//   .docImage{
//       zoom: 60%;
//   }
// .imageContainer{
//     width: 50vh;
//     height: 80vh;
// }